name: Generate Helm Chart Documentation 
on:
  push:
jobs:
  generate-helm-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Aimee-888/HelmDocs-GithubAction@v2
        with: 
          src_path: chart
          template_file: README.md.gotmpl
          commit_message: "chore(chart): automatic update docs"
          username: "shift"
          email: "shift@someone.section.me"
          git_push: "true"
      - uses: EndBug/add-and-commit@1bad3abcf0d6ec49a5857d124b0bfb52dc7bb081 # v9.1.3
